## Question1

Occupations

Step 1. Import the necessary libraries

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called users

Step 4. Discover what is the mean age per occupation

Step 5. Discover the Male ratio per occupation and sort it from the most to the least

Step 6. For each occupation, calculate the minimum and maximum ages

Step 7. For each combination of occupation and sex, calculate the mean age

Step 8. For each occupation present the percentage of women and men

Step1

In [1]:
import pandas as pd

Step2

In [ ]:
read_file = pd.read_csv (r'C:\Users\DELL\Desktop\Monish\Data Programming\Assignment-3\Q1.txt')
read_file.to_csv (r'C:\Users\DELL\Desktop\Monish\Data Programming\Assignment-3\Q1.csv', index=None)

Step3

In [2]:
users=pd.read_csv(r'C:\Users\DELL\Desktop\Monish\Data Programming\Assignment-3\Q1.csv')

Step4

In [3]:
users.groupby('occupation').age.mean()

occupation
administrator    37.897436
artist           32.500000
doctor           34.333333
educator         40.585366
engineer         38.500000
entertainment    27.000000
executive        37.000000
healthcare       43.000000
homemaker        32.250000
lawyer           38.857143
librarian        36.260870
marketing        39.090909
none             23.000000
other            36.685714
programmer       34.060606
retired          62.800000
salesman         35.200000
scientist        36.357143
student          22.192771
technician       34.300000
writer           35.000000
Name: age, dtype: float64

Step5

In [4]:
users.groupby('occupation').gender.value_counts(dropna=False)

occupation     gender
administrator  M         23
               F         16
artist         F          7
               M          7
doctor         M          3
educator       M         29
               F         12
engineer       M         32
entertainment  M         10
executive      M         16
               F          2
healthcare     F          3
               M          3
homemaker      F          4
lawyer         M          6
               F          1
librarian      F         16
               M          7
marketing      M          7
               F          4
none           M          4
               F          1
other          M         20
               F         15
programmer     M         29
               F          4
retired        M          5
salesman       M          5
scientist      M         13
               F          1
student        M         58
               F         25
technician     M         10
writer         M         12
               F          5
Name: gender, dtype: int64

Step6

In [5]:
users.groupby('occupation').age.agg([min,max])

               min  max
occupation
administrator   21   62
artist          20   48
doctor          28   46
educator        23   61
engineer        22   63
entertainment   15   41
executive       22   49
healthcare      22   53
homemaker       20   42
lawyer          28   53
librarian       25   54
marketing       24   55
none            11   35
other           13   56
programmer      20   53
retired         60   68
salesman        21   66
scientist       25   45
student          7   42
technician      24   55
writer          21   52

Step7

In [6]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.250000
               M         36.260870
artist         F         30.571429
               M         34.428571
doctor         M         34.333333
educator       F         39.250000
               M         41.137931
engineer       M         38.500000
entertainment  M         27.000000
executive      F         44.000000
               M         36.125000
healthcare     F         40.333333
               M         45.666667
homemaker      F         32.250000
lawyer         F         28.000000
               M         40.666667
librarian      F         35.500000
               M         38.000000
marketing      F         30.500000
               M         44.000000
none           F         35.000000
               M         20.000000
other          F         35.800000
               M         37.350000
programmer     F         31.750000
               M         34.379310
retired        M         62.800000
salesman       M         35.200000
scientist      F         26.000000
               M         37.153846
student        F         21.400000
               M         22.534483
technician     M         34.300000
writer         F         39.600000
               M         33.083333
Name: age, dtype: float64

Step8

In [7]:
users.groupby('occupation').gender.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

occupation     gender
administrator  M          59.0%
               F          41.0%
artist         F          50.0%
               M          50.0%
doctor         M         100.0%
educator       M          70.7%
               F          29.3%
engineer       M         100.0%
entertainment  M         100.0%
executive      M          88.9%
               F          11.1%
healthcare     F          50.0%
               M          50.0%
homemaker      F         100.0%
lawyer         M          85.7%
               F          14.3%
librarian      F          69.6%
               M          30.4%
marketing      M          63.6%
               F          36.4%
none           M          80.0%
               F          20.0%
other          M          57.1%
               F          42.9%
programmer     M          87.9%
               F          12.1%
retired        M         100.0%
salesman       M         100.0%
scientist      M          92.9%
               F           7.1%
student        M          69.9%
               F          30.1%
technician     M         100.0%
writer         M          70.6%
               F          29.4%
Name: gender, dtype: object