## Question 4

Wind Statistics

The data have been modified to contain some missing values, identified by NaN.
Using pandas should make this exercise easier, in particular for the bonus question.

You should be able to perform all of these operations without using a for loop or
other looping construct.

Step 1. Import the necessary libraries

Step 2. Import the dataset from this address

Step 3. Assign it to a variable called data and replace the first 3 columns by a proper
datetime index.

Step 4. Year 2061? Do we really have data from this year? Create a function to fix it
and apply it.

Step 5. Set the right dates as the index. Pay attention at the data type, it should be
datetime64[ns].

Step 6. Compute how many values are missing for each location over the entire
record.They should be ignored in all calculations below.

Step 7. Compute how many non-missing values there are in total.

Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and
all the times.
A single number for the entire dataset.

Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean
windspeeds and standard deviations of the windspeeds at each location over all the
days
A different set of numbers for each location.

Step 10. Create a DataFrame called day_stats and calculate the min, max and mean
windspeed and standard deviations of the windspeeds across all the locations at each
day.
A different set of numbers for each day.

Step 11. Find the average windspeed in January for each location.
Treat January 1961 and January 1962 both as January.

Step 12. Downsample the record to a yearly frequency for each location.

Step 13. Downsample the record to a monthly frequency for each location.

Step 14. Downsample the record to a weekly frequency for each location.

Step 15. Calculate the min, max and mean windspeeds and standard deviations of the
windspeeds across all locations for each week (assume that the first week starts on
January 2 1961) for the first 52 weeks.

Step1

In [2]:
import pandas as pd

Step2

In [8]:
read_file = pd.read_csv (r'C:\Users\DELL\Desktop\Monish\Data Programming\Assignment-3\Q3.txt')
read_file.to_csv (r'C:\Users\DELL\Desktop\Monish\Data Programming\Assignment-3\Q4.csv', index=None)

Step3

In [13]:
data = pd.read_csv(r'C:\Users\DELL\Desktop\Monish\Data Programming\Assignment-3\Q4.csv')

Step4

In [ ]:
data['Yr'] = '19' + data4['Yr'].astype(str)

Step5

Step6

Step6

In [29]:
data.empty

False

In [28]:
data.isnull().values.any()

True

In [26]:
data.isnull().sum().sum()

31

Step8

In [31]:
data.mean()[3:14]

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
dtype: float64

Step9

In [34]:
g0=data.columns[3:14]

g1=data.min()[3:14].tolist()

g2=data.max()[3:14].tolist()

g3=data.mean()[3:14].tolist()

g4=data.std()[3:14].tolist()

e={'Location':g0,'Minimun':g1,'Maximun':g2,'Mean':g3,'Standard Deviation':g4}
loc_stats=pd.DataFrame(e)
loc_stats

   Location  Minimun  Maximun       Mean  Standard Deviation
0       RPT     0.67    35.80  12.362987            5.618413
1       VAL     0.21    33.37  10.644314            5.267356
2       ROS     1.50    33.84  11.660526            5.008450
3       KIL     0.00    28.46   6.306468            3.605811
4       SHA     0.13    37.54  10.455834            4.936125
5       BIR     0.00    26.16   7.092254            3.968683
6       DUB     0.00    30.37   9.797343            4.977555
7       CLA     0.00    31.08   8.495053            4.499449
8       MUL     0.00    25.88   8.493590            4.166872
9       CLO     0.04    28.21   8.707332            4.503954
10      BEL     0.13    42.38  13.121007            5.835037

Step10

Step11

In [36]:
mon=[1]
res=data['Mon'].isin(mon)
res.mean()

0.08487982963188317

Step12

In [38]:
data.sort_values(by='Yr',inplace=True,ascending=True)
data.head()

,Yr,Mon,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
248,61,9,6,17.62,12.54,11.58,10.17,14.54,9.13,14.09,10.79,12.71,11.71,15.83,20.25
247,61,9,5,12.67,10.00,6.38,5.83,10.41,5.83,9.38,8.54,9.04,9.96,13.62,15.04
246,61,9,4,6.79,3.04,4.79,3.17,4.75,2.17,1.25,2.21,2.96,1.75,5.41,3.37
245,61,9,3,11.63,7.29,7.00,5.75,5.58,5.37,5.88,5.88,5.25,7.96,6.79,7.12

Step13

In [39]:
data.sort_values(by='Mon',inplace=True,ascending=True)
data.head()

,Yr,Mon,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2558,68,1,3,18.91,13.37,13.46,12.50,14.83,10.58,17.00,11.17,14.88,13.00,16.29,27.42
2557,68,1,2,12.92,12.75,13.21,10.54,13.83,8.63,12.67,10.21,11.04,9.59,15.25,22.04
2556,68,1,1,30.04,17.88,16.25,16.25,21.79,12.54,18.16,16.62,18.75,17.62,22.25,27.29
2574,68,1,19,9.79,14.09,10.25,4.88,10.75,6.42,8.08,11.79,7.25,9.42,23.04,17.96

Step14

In [40]:
data.sort_values(by='Dy',inplace=True,ascending=True)
data.head()

,Yr,Mon,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,61,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2311,67,5,1,20.46,15.71,13.92,11.42,16.75,12.00,13.83,13.08,12.46,12.08,19.50,22.13
6452,78,9,1,8.42,6.13,9.87,5.25,3.21,5.71,7.25,3.50,7.33,6.50,7.62,15.96
5233,75,5,1,22.54,16.04,17.16,7.75,13.92,8.75,13.88,11.04,13.42,11.46,15.25,21.67
2434,67,9,1,10.71,9.33,9.92,6.29,11.00,7.50,8.87,9.04,7.79,6.71,12.92,15.59

Step15