## Question5

Step 1. Import the necessary libraries

Step 2. Import the dataset from this address.

Step 3. Assign it to a variable called chipo.

Step 4. See the first 10 entries

Step 5. What is the number of observations in the dataset?

Step 6. What is the number of columns in the dataset?

Step 7. Print the name of all the columns.

Step 8. How is the dataset indexed?

Step 9. Which was the most-ordered item?

Step 10. For the most-ordered item, how many items were ordered?

Step 11. What was the most ordered item in the choice_description column?

Step 12. How many items were orderd in total?

Step 13.

    • Turn the item price into a float

    • Check the item price type

    • Create a lambda function and change the type of item price

    • Check the item price type

Step 14. How much was the revenue for the period in the dataset?

Step 15. How many orders were made in the period?

Step 16. What is the average revenue amount per order?

Step 17. How many different items are sold?

Step1

In [3]:
import pandas as pd

Step2

In [ ]:
read_file = pd.read_csv (r'C:\Users\DELL\Desktop\Monish\Data Programming\Assignment-3\Q5.txt', error_bad_lines=False)
read_file.to_csv (r'C:\Users\DELL\Desktop\Monish\Data Programming\Assignment-3\Q5.csv', index=None)

Step3

In [4]:
chips=pd.read_csv(r'C:\Users\DELL\Desktop\Monish\Data Programming\Assignment-3\Q5.csv')

Step4

In [5]:
chips.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,3,1,Side of Chips,NaN,$1.69
5,5,1,Chips and Guacamole,NaN,$4.45
6,7,1,Chips and Guacamole,NaN,$4.45
7,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
8,9,2,Canned Soda,[Sprite],$2.18
9,10,1,Chips and Guacamole,NaN,$4.45

Step5

In [6]:
chips['order_id'].count()

1795

Step6

In [7]:
len(chips.columns)

5

Step7

In [8]:
chips.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Step8

Step9

In [9]:
chips.item_name.max()

'Veggie Burrito'

Step10

In [10]:
a=chips['item_name'].value_counts().max()
a

479

Step11

Step12

In [11]:
chips['item_name'].value_counts()

Chips and Guacamole                      479
Canned Soft Drink                        301
Chips                                    211
Bottled Water                            162
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chips and Tomatillo Green Chili Salsa     43
Chips and Tomatillo-Green Chili Salsa     31
Nantucket Nectar                          27
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Chicken Bowl                               6
Steak Burrito                              5
Chicken Burrito                            5
Barbacoa Bowl                              5
Barbacoa Burrito                           3
Carnitas Soft Tacos                        3
Crispy Tacos                               2
Barbacoa Salad Bowl                        2
Steak Soft Tacos                           2
Chicken Salad Bowl                         2
Steak Bowl                                 2
Carnitas Burrito                           1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Crispy Tacos                      1
Veggie Burrito                             1
Chicken Soft Tacos                         1
Steak Crispy Tacos                         1
Chicken Crispy Tacos                       1
Name: item_name, dtype: int64

Step13

In [12]:
for col in chips:
    if chips[col].dtype == 'object':
        chips[col] = chips[col].str.replace('$', '')

In [13]:
convert={'item_price':float}
chips=chips.astype(convert)

In [14]:
chips.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

Step14

In [15]:
chips.item_price.sum()

5599.34

Step15

In [16]:
chips.groupby('order_id').count()

          quantity  item_name  choice_description  item_price
order_id
1                4          4                   2           4
3                1          1                   0           1
5                1          1                   0           1
7                1          1                   0           1
8                1          1                   0           1
...            ...        ...                 ...         ...
1827             4          4                   3           4
1828             2          2                   1           2
1829             1          1                   1           1
1831             2          2                   0           2
1832             1          1                   0           1

[1322 rows x 4 columns]

Step16

In [17]:
chips.groupby('order_id').item_price.mean()

order_id
1       2.890
3       1.690
5       4.450
7       4.450
8       2.390
        ...
1827    6.050
1828    2.850
1829    1.250
1831    1.825
1832    4.450
Name: item_price, Length: 1322, dtype: float64

Step17

In [18]:
chips.groupby('item_name').count()

,order_id,quantity,choice_description,item_price
item_name,,,,
6 Pack Soft Drink,54,54,54,54
Barbacoa Bowl,5,5,5,5
Barbacoa Burrito,3,3,3,3
Barbacoa Salad Bowl,2,2,2,2
Bottled Water,162,162,0,162
Canned Soda,104,104,104,104
Canned Soft Drink,301,301,301,301
Carnitas Burrito,1,1,1,1
Carnitas Crispy Tacos,1,1,1,1
Carnitas Soft Tacos,3,3,3,3
Chicken Bowl,6,6,6,6
Chicken Burrito,5,5,5,5
Chicken Crispy Tacos,1,1,1,1
Chicken Salad Bowl,2,2,2,2
Chicken Soft Tacos,1,1,1,1
Chips,211,211,0,211
Chips and Fresh Tomato Salsa,110,110,0,110
Chips and Guacamole,479,479,0,479
Chips and Mild Fresh Tomato Salsa,1,1,0,1
Chips and Roasted Chili Corn Salsa,22,22,0,22
Chips and Roasted Chili-Corn Salsa,18,18,0,18
Chips and Tomatillo Green Chili Salsa,43,43,0,43
Chips and Tomatillo Red Chili Salsa,48,48,0,48
Chips and Tomatillo-Green Chili Salsa,31,31,0,31
Chips and Tomatillo-Red Chili Salsa,20,20,0,20
Crispy Tacos,2,2,2,2
Izze,20,20,20,20
Nantucket Nectar,27,27,27,27
Side of Chips,101,101,0,101
Steak Bowl,2,2,2,2
Steak Burrito,5,5,5,5
Steak Crispy Tacos,1,1,1,1
Steak Soft Tacos,2,2,2,2
Veggie Burrito,1,1,1,1